<div class="metrics-container">
    <div class="metrics-header">
        <div class="column-header">Autore</div>
        <div class="column-header">Descrizione</div>
        <div>Data</div>
    </div>
    <mat-divider></mat-divider>
</div>
<div>
    <ng-container *ngFor="let metric of data.metrics">
        <mat-list-item *ngIf="metric.checked == true">
            <div class="metrics-row">
                <p>{{metric.author}}</p>
                <p>{{metric.description}}</p>
                <p>{{metric.createdAt | date}}</p>
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </ng-container>

</div>
