<!-- Scrolling through objectives and giving the objective id of each one as input to keys component-->

<div class="body-container">
  <div class="contents-container">
    <div class="objective-info">
      <div class="okr-info">
        <p class="objective-title">Obiettivi</p>
        <p>Inizio: <i class="date-info"> {{startingAt | date}}</i></p>
        <p>Fine: <i class="date-info"> {{endingAt | date}}</i></p>
      </div>
      <div class="chart-container">
        <app-pie-chart></app-pie-chart>
      </div>
    </div>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let objective of (state.objectives | async)">
        <mat-expansion-panel-header>{{objective.description}}</mat-expansion-panel-header>
        <app-keys [objectiveId]="objective.id"></app-keys>
      </mat-expansion-panel>
      <button mat-mini-fab class="obj-button" color="primary">
        <i class="material-icons">add</i>
      </button>
      <button mat-fab class="obj-big-button" color="primary" matTooltip="Aggiungi obiettivo" matTooltipClass="dialog-title">
        <i class="material-icons">add</i>
      </button>
    </mat-accordion>
  </div>
</div>

