.chart-container{
  width: 20rem;
}

.contents-container{
  margin: 3rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: auto;
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.mat-expansion-panel-header{
  font-size: 1rem;
}

.objective-info{
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 2rem;
}

.objective-title{
  font-size: 3rem;
}

@media screen and (max-width: 576px) {
  .chart-container{
    width: 13rem;
  }

  .objective-title{
    font-size: 2.5rem;
  }
}
