<!-- Scrolling through objectives and giving the objective id of each one as input to keys component-->

<div class="body-container">
  <div class="contents-container">
    <p class="objective-title">Obiettivi</p>
    <mat-accordion>
      <mat-expansion-panel *ngFor="let objective of objectivesList">
        <mat-expansion-panel-header>{{objective.description}}</mat-expansion-panel-header>
        <app-keys [objectiveId]="objective.id"></app-keys>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>

