<div class="main-dialog-container">
    <p mat-dialog-title class="dialog-title">{{data.title}}</p>
    <div class="dialog-contents" mat-dialog-content>
        <form class="form" [formGroup]="modalWithCheck">
            <div *ngFor="let metric of data.metrics" class="radio-container">
                <p>{{metric.description}}</p>
    <!--            <mat-radio-button formControlName="checkMetric"></mat-radio-button>-->
                <mat-radio-button></mat-radio-button>
            </div>
            <div class="date-picker-container">
                <input matInput [matDatepicker]="picker" formControlName="createdAt" placeholder="Choose a date" (click)="picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </form>
    </div>
    <mat-dialog-actions class="buttons-container">
        <button mat-raised-button (click)="dialogRef.close()">Annulla</button>
        <button mat-raised-button color="primary" (ngSubmit)="onSubmit()">Conferma</button>
    </mat-dialog-actions>
</div>
