<div>
    <div class="header-container">
        <div class="logo">
            <img src="../../assets/resources/logo_UQIDO.svg"/>
        </div>
    </div>
    <div class="main-content">
        <div class="welcome-container">
            <p>Benvenuto su Uqido OKR</p>
            <p class="welcome-text">Sign in</p>
        </div>
        <div class="button-container">
            <button mat-button class="google-btn"(click)="auth.googleSignin()">
                <i class="fab fa-google fa-4x"></i>
                <span class="google-btn-text">Sign in with Google</span>
            </button>
        </div>
    </div>
</div>
