<div>
    <div class="header-container">
        <div class="logo">
            <img src="../../assets/resources/logo_UQIDO.svg"/>
        </div>
    </div>
    <div class="main-content">
        <div class="welcome-container">
            <p class="welcome-text">Benvenuto su Uqido OKR</p>
        </div>
        <div class="button-container">
            <button mat-button class="google-btn"(click)="auth.googleSignin()">
                <i class="fa-4x" [ngClass]="{'fa fa-spin fa-circle-notch': (auth.isLoading$|async), 'fab fa-google': !(auth.isLoading$|async)}"></i>
                <span class="google-btn-text">Sign in with Google</span>
            </button>
        </div>
    </div>
</div>
