.mat-display-3 {
  margin-top: 64px;
  text-align: center;
}

.button-container{
  margin: 10rem auto auto auto;
  text-align: center;
}

.google-icon-svg {
  margin-right: 1em;
  width: 5em;
}

.google-btn-text {
  font-size: 2rem;
}
