<div class="main-dialog-container">
    <p mat-dialog-title class="dialog-title">{{data.title}}</p>
    <div class="dialog-contents" mat-dialog-content>
        <form class="form" [formGroup]="modalWithLimit" (ngSubmit)="onSubmit()">
            <mat-form-field class="mat-form-container">
                <input matInput formControlName="description" placeholder="Inserisci un miglioramento"/>
            </mat-form-field>
            <mat-form-field class="example-full-width">
                <input matInput formControlName="author" placeholder="Autore">
            </mat-form-field>
            <div class="date-picker-container">
                <input matInput [matDatepicker]="picker" formControlName="createdAt" placeholder="Scegli una data" (click)="picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </form>
    </div>
    <mat-dialog-actions *ngIf="!isLoading" class="buttons-container">
        <button mat-raised-button (click)="dialogRef.close()">Annulla</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!modalWithLimit.valid" (click)="onSubmit()">Conferma</button>
    </mat-dialog-actions>
    <div *ngIf="isLoading" class="spinner-container">
        <mat-spinner [diameter]="50"></mat-spinner>
    </div>
</div>
