.column-header{
  padding-right: 2rem;
}

.contents-container, .metrics-row{
  display: flex;
}

.contents-container{
  justify-content: center;
}

.header-cell{
  text-align: center;
  padding: 1rem !important;
  @media screen and (min-width: 576px) {
    padding: 3rem !important;
  }
}

.metrics-header{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.row-cell {
  padding: 0 3rem !important;
  text-align: center;
}

