.plus-button{
  font-size: 2rem;
}

.check-icon{
  margin-left: 0.5rem;
}

.column-header{
  padding-right: 2rem;
}

.contents-container{
  margin: 1rem auto !important;
}

.delete-container{
  align-items: center;
  padding: 0;
}

.mat-column-data {
  display: none;
  @media screen and (min-width: 576px) {
    display: table-cell;
  }
}

.mat-column-action {
  width: 50px;
}

.header-cell{
  text-align: center;
  padding: 1rem !important;
  @media screen and (min-width: 576px) {
    padding: 3rem 0 !important;
  }
}

.metrics-header{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.row-cell {
  padding: 0 !important;
  text-align: center;
}

