<div class="contents-container">
    <table mat-table class="mat-form-container" [dataSource]="metricsService.metrics">
        <ng-container matColumnDef="author">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Autore</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">{{metric.author}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Descrizione</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">{{metric.description}}</td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Data</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">{{metric.createdAt | date}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

