.plus-button{
  font-size: 2rem;
}

.column-header{
  padding-right: 2rem;
}

.contents-container{
  display: flex;
  margin: 1rem auto !important;
  justify-content: center;
}

.delete-container{
  align-items: center;
}

.delete-icon{
  position: absolute;
  margin-left: 2.5rem;
  @media screen and (min-width: 576px) {
    margin-left: 4rem
  }
  @media screen and (min-width: 768px) {
    margin-left: 5rem
  }
  @media screen and (min-width: 992px) {
    margin-left: 6rem
  }
  @media screen and (min-width: 1200px) {
    margin-left: 7rem
  }
}

.header-cell{
  text-align: center;
  padding: 1rem !important;
  @media screen and (min-width: 576px) {
    padding: 3rem !important;
  }
}

.metrics-header{
  display: flex;
  justify-content: space-around;
  padding: 1rem 0;
}

.row-cell {
  padding: 0 !important;
  text-align: center;
}

