<div class="back-button-container">
    <button mat-button class="plus-button" title="Previuos page" (click)=this.location.back()>
        <i class="fas fa-arrow-circle-left"></i>
    </button>
</div>
<div class="contents-container">
    <table mat-table class="mat-form-container" [dataSource]="(filterByKeyId(state.metrics | async))">
        <ng-container matColumnDef="author">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Autore</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">{{metric.author}}</td>
        </ng-container>

        <ng-container matColumnDef="description">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Descrizione</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">
                <div class="contents-container delete-container">
                    {{metric.description}}
                    <i class="material-icons check-icon" *ngIf="metric.checked && metric.checked === true">check</i>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="data">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Data</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">
                <div class="contents-container delete-container">
                    {{metric.createdAt | date}}
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="action">
            <th mat-header-cell class="header-cell dialog-title" *matHeaderCellDef>Action</th>
            <td mat-cell class="row-cell" *matCellDef="let metric">
                <div class="contents-container delete-container">
                    <button mat-button color="warn" class="delete-icon" [disabled]="isLoading$ | async" (click)="deleteMetric(metric)">
                        <i class="material-icons" *ngIf="!(isLoading$ | async)">delete</i>
                        <mat-spinner *ngIf="isLoading$ | async" [diameter]="20"></mat-spinner>
                    </button>
                </div>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <button mat-mini-fab class="obj-button" color="primary" (click)="openAddMetricDialog()">
        <i class="material-icons">add</i>
    </button>
</div>
