<div class="main-dialog-container">

    <p mat-dialog-title class="dialog-title">{{data.title}}</p>
    <div class="dialog-contents" mat-dialog-content>
        <form class="form" [formGroup]="modalWithCheck">
            <div class="radio-container">
                <mat-radio-group formControlName="id">
                    <ng-container *ngFor="let metric of data.metrics">
                        <mat-radio-button *ngIf="!metric.checked" value="{{metric.id}}"
                                          class="radio-button-container">
                            {{metric.description}}
                        </mat-radio-button>
                    </ng-container>
                </mat-radio-group>
            </div>
            <div class="date-picker-container">
                <input matInput class="date-picker-input" [min]="currentState.currentOkr.value.startingAt"
                       [max]="currentState.currentOkr.value.endingAt" [matDatepicker]="picker" formControlName="createdAt"
                       placeholder="Choose a date" (click)="picker.open()"/>
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </div>
        </form>
    </div>
    <mat-dialog-actions class="buttons-container">
        <button mat-raised-button (click)="dialogRef.close()" [disabled]="isLoading">Annulla</button>
        <button type="submit" mat-raised-button color="primary" [disabled]="!modalWithCheck.valid || isLoading"
                (click)="onSubmit()">
            <span *ngIf="!isLoading">Conferma</span>
            <mat-spinner *ngIf="isLoading" [diameter]="36"></mat-spinner>
        </button>
    </mat-dialog-actions>
</div>
