<div class="item-description-container">
    <div class="item-status-container">
        <mat-action-list><a mat-list-item class="list-item" (click)="openMetricsDialog()" role="button">{{key.description}}</a></mat-action-list>
        <mat-progress-bar class="item-progress-bar" mode="determinate" value="{{keyPercentage()}}"></mat-progress-bar>
    </div>
    <div class="info-container">
        <button mat-button class="plus-button" (click)="openDialog()"><i class="fas fa-plus-circle"></i></button>
    </div>
</div>
<mat-divider></mat-divider>
