<div class="item-description-container">
    <div class="item-status-container">
        <mat-action-list>
            <a mat-list-item class="list-item" [routerLink]="['keys',key.id,'metrics']"
               role="button">{{key.description}}</a>
        </mat-action-list>
        <mat-progress-bar *ngIf="key.evaluationType !== 'clockify'" class="item-progress-bar" mode="determinate"
                          value="{{key?.keyPercentage}}"></mat-progress-bar>
        <mat-progress-bar *ngIf="key.evaluationType === 'clockify'" class="item-progress-bar" mode="determinate"
                          value="{{(getState.clockifyAverage | async)}}"></mat-progress-bar>
    </div>
    <div class="info-container">
        <button mat-button [ngClass]="{'plus-button': true, 'clockify-button': key.evaluationType === 'clockify'}"
                *ngIf="key.evaluationType !== 'clockify'" (click)="openDialog()">
            <i class="fas"
               [ngClass]="{'fa-plus-circle': key?.keyPercentage < 60, 'fa-hand-peace text-success fa-2x': key?.keyPercentage >= 60}"></i>
        </button>
        <button mat-button class="plus-button" [ngClass]="{'admin-button': true, 'show-button': state.option}"
                (click)="deleteKey(key)" color="warn">
            <i *ngIf="!(isLoading$ | async)" class="material-icons">delete</i>
            <mat-spinner *ngIf="isLoading$ | async" [diameter]="20"></mat-spinner>
        </button>
    </div>
</div>
<mat-divider></mat-divider>

