.fa-plus-circle{
  font-size: 1.5rem;
}

.info-container{
  display: flex;
  flex-direction: column;
  padding: 0 0 0 1.5rem;
}

.item-description-container{
  display: flex;
  justify-content: space-between;
  padding: 1rem 0;
}

.item-progress-bar{
  height: 0.5rem;
  margin-top: 1rem;
}

.item-status-container {
  flex: 1;
  padding-right: 0;
  @media screen and (min-width: 768px) {
    padding-right: 4rem;
  }
}

.list-item {
  height: auto !important;
}

.plus-button{
  padding: 0;
  min-width: 0;
}
