.dialog-title{
  width: 100%;
  display: flex;
}

.masthead{
  text-align: center;
  margin: 1rem;
}

.sidenav{
  min-width: 15rem;
  @media screen and (min-width: 576px) {
    min-width: 20rem;
  }
}

.sidenav-container{
  height: 100%;
}

.sidenav-icon{
  padding-right: 1rem;
}

.sidenav-item{
  padding-top: 0.5rem;
  padding-bottom: 0.5rem
}
