<mat-sidenav-container class="sidenav-container" autosize>
    <mat-sidenav #sidenav mode="over" role="navigation" class="sidenav">
        <div>
            <div class="masthead">
                <div class="logo">
                    <img src="../../assets/resources/logo_UQIDO.svg" alt="Uqido logo"/>
                </div>
            </div>
            <div>
                <button mat-button class="dialog-title sidenav-item" [matMenuTriggerFor]="menu">
                    <i class="material-icons fa-2x sidenav-icon">calendar_today</i>
                    Seleziona quarter
                </button>
            </div>
            <div>
                <mat-menu #menu="matMenu">
                    <mat-list-item *ngFor="let okr of (okrsToArray(state.okrs | async))">
                        <button mat-button (click)="updateQuarter(okr, sidenav)">
                            {{okr.startingAt | date}} - {{okr.endingAt | date}}
                            <mat-divider></mat-divider>
                        </button>
                    </mat-list-item>
                </mat-menu>
            </div>
            <div>
                <button mat-button class="dialog-title sidenav-item" (click)="createQuarter(sidenav)">
                    <i class="material-icons fa-2x sidenav-icon">add</i>
                    Aggiungi quarter
                </button>
            </div>
            <div>
                <button mat-button class="dialog-title sidenav-item" (click)="auth.signOut()">
                    <i class="fas fa-sign-out-alt fa-2x sidenav-icon" title="Log out"></i>
                    Log Out
                </button>
            </div>
        </div>
    </mat-sidenav>
    <mat-sidenav-content>
        <button mat-button class="masthead" (click)="sidenav.toggle()">
            <i class="material-icons fa-3x">menu</i>
        </button>
        <button mat-button class="settings-button" [matMenuTriggerFor]="modeMenu">
            <i class="material-icons fa-2x">settings</i>
        </button>
        <mat-menu #modeMenu="matMenu">
            <mat-list-item>
                <button mat-button (click)="state.changeOption()">
                    Modalità sviluppatore
                    <span class="fa-stack fa-1x">
                      <i class="far fa-square fa-stack-2x"></i>
                      <i class="fas fa-check fa-stack-1x admin-button"></i>
                    </span>
                </button>
            </mat-list-item>
        </mat-menu>
        <app-current-okr></app-current-okr>
    </mat-sidenav-content>
</mat-sidenav-container>



