/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

body{
  font-family: 'Oxygen', Helvetica, Arial, Verdana, sans-serif;
  margin: 0;
}

.header-container{
  box-shadow: 0 6px 16px rgba(0,0,0,.05);
}

.logo{
  padding-left: 2rem;
  width: 10rem;
}
