/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family.
$custom-typography: mat-typography-config(
        $font-family: 'Oxygen' !important
);

@include angular-material-typography($custom-typography);

body{
  font-family: 'Oxygen' !important;
  margin: 0;
}
.header-container{
  box-shadow: 0 6px 16px rgba(0,0,0,.05);
}

.logo{
  padding-left: 2rem;
  width: 10rem;
}
.contents-container{
  margin: 3rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: auto;
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.buttons-container{
  display: flex;
  padding-top: 2rem;
}

.buttons-container {
  justify-content: space-evenly;
}

.date-picker-container{
  border-bottom: solid 1px rgba(0,0,0,.42);
  display: flex;
  padding: 1rem 0;
  width: 100%;
}

.date-picker-input{
  width: 90%;
  @media screen and (min-width: 576px){
    width: 100%;
  }
}

.dialog-contents{
  display: flex !important;
  justify-content: center !important;
  margin: 0 !important;
  padding: 0 !important;
}

.dialog-title{
  font-size: 1rem !important;
}

.form{
  min-width: 8rem;
  max-width: 20rem;
  width: 100%
}

.main-dialog-container{
  max-height: 30rem;
  max-width: 40rem;
  @media screen and (min-width: 360px) {
    max-height: unset;
  }
}
.mat-form-container{
  width: 100%;
}

.mat-radio-label{
  white-space: normal !important;
}

.mat-list-item-content{
  padding: 0 !important;
  font-size: 0.85rem;
  @media screen and (min-width: 576px){
    font-size: inherit;
  }
}

.radio-button-container{
  display: grid !important;
  padding-bottom: 1rem;
  width: auto;
}

.radio-container{
  padding: 1rem 0;
}

.spinner-container{
  margin: 0;
}
