/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";

@import '~@angular/material/theming';

// Define a custom typography config that overrides the font-family.
$custom-typography: mat-typography-config(
        $font-family: 'Oxygen' !important
);

@include angular-material-typography($custom-typography);

body{
  font-family: 'Oxygen' !important;
  margin: 0;
}
.header-container{
  box-shadow: 0 6px 16px rgba(0,0,0,.05);
}

.logo{
  padding-left: 2rem;
  width: 10rem;
}
.contents-container{
  margin: 3rem auto;
  padding-left: 2rem;
  padding-right: 2rem;
  width: auto;
  @media screen and (min-width: 576px) {
    max-width: 540px;
  }
  @media screen and (min-width: 768px) {
    max-width: 720px;
  }
  @media screen and (min-width: 992px) {
    max-width: 960px;
  }
  @media screen and (min-width: 1200px) {
    max-width: 1140px;
  }
}

.buttons-container, .radio-container{
  display: flex;
  padding-top: 2rem;
}

.buttons-container {
  justify-content: space-evenly;
}

.date-picker-container{
  width: 90%;
  @media screen and (min-width: 576px) {
    border-bottom: solid 1px rgba(0,0,0,.42);
    display: flex;
    padding-top: 2rem;
    width: auto;
  }
}

.dialog-contents{
  margin: 2rem auto;
  display: flex;
  justify-content: center;
}

.dialog-title{
  font-size: 1rem !important;
}

.form{
  min-width: 8rem;
  max-width: 20rem;
  width: 100%
}

.main-dialog-container{
  max-width: 40rem;
}
.mat-form-container{
  width: 100%;
}

.spinner-container{
  margin: 0;
}
